.bg-cuppon {
    /* --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important; */

    background-color: #28A745 !important;
  }

.text-cuppon {
    /* --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important; */

    color: #28A745 !important;
  }

.font-cuppon-light{

  font-family: "Roboto",sans-serif !important;
  font-weight:300 !important;
}

.font-cuppon-medium{

  font-family: "Roboto",sans-serif !important;
  font-weight:500 !important;
}